body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: "Montserrat", sans-serif;
  }

  .content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  h1 {
    font-size: 24px;
    padding: 20px;
  }

  .footer {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
  }