* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.content {
  max-width: 800px;
  margin: 20px auto;
  padding: 0 20px;
  text-align: center;
  background: #b9af94;
}

.profile img {
  max-width: 100%;
  border-radius: 50%;
  margin-bottom: 20px;
}

.profile h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.profile h3 {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
}
