body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}

.content-container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.content-container h2 {
  font-size: 2em;
  color: #222;
}

.content-container h3 {
  font-size: 1.2em;
  color: #555;
  line-height: 1.8;
}

.content-container h3 br {
  line-height: 2;
}

.footer {
  background-color: #333;
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
}

.footer div {
  max-width: 300px;
}

.footer h3 {
  font-size: 1.4em;
  margin-bottom: 10px;
}

.footer p {
  font-size: 1em;
}

.footer input[type="email"] {
  width: 80%;
  padding: 5px;
  margin-top: 10px;
}

.footer input[type="submit"] {
  padding: 5px 10px;
  margin-top: 10px;
  background-color: #555;
  color: white;
  border: none;
  cursor: pointer;
}

.footer input[type="submit"]:hover {
  background-color: #444;
}
